##Importing Packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

##Importing Data

In [2]:
df=pd.read_excel("/content/drive/My Drive/flight fare pediction/Data_Train.xlsx")
df.head(10)

             Airline Date_of_Journey  ...              Additional_Info  Price
0             IndiGo      24/03/2019  ...                      No info   3897
1          Air India       1/05/2019  ...                      No info   7662
2        Jet Airways       9/06/2019  ...                      No info  13882
3             IndiGo      12/05/2019  ...                      No info   6218
4             IndiGo      01/03/2019  ...                      No info  13302
5           SpiceJet      24/06/2019  ...                      No info   3873
6        Jet Airways      12/03/2019  ...  In-flight meal not included  11087
7        Jet Airways      01/03/2019  ...                      No info  22270
8        Jet Airways      12/03/2019  ...  In-flight meal not included  11087
9  Multiple carriers      27/05/2019  ...                      No info   8625

[10 rows x 11 columns]

##Data Information

In [3]:
df.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [4]:
df.shape

(10683, 11)

In [5]:
df["Duration"].value_counts()
# df["Duration"][1]

2h 50m     550
1h 30m     386
2h 55m     337
2h 45m     337
2h 35m     329
          ...
29h 10m      1
31h 50m      1
40h 20m      1
29h 40m      1
41h 20m      1
Name: Duration, Length: 368, dtype: int64

##Filtering Null Values

In [6]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [7]:
df.dropna().isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

##Converting Date from string to Number
For better understanding for the machine.
(Date and time)

In [8]:
df["Day"]=pd.to_datetime(df.Date_of_Journey).dt.day
df["Month"]=pd.to_datetime(df.Date_of_Journey).dt.month
df["Year"]=pd.to_datetime(df.Date_of_Journey).dt.year
df["Week_day"]=pd.to_datetime(df.Date_of_Journey).dt.dayofweek
df.head(10)

             Airline Date_of_Journey    Source  ... Month  Year Week_day
0             IndiGo      24/03/2019  Banglore  ...     3  2019        6
1          Air India       1/05/2019   Kolkata  ...     1  2019        5
2        Jet Airways       9/06/2019     Delhi  ...     9  2019        4
3             IndiGo      12/05/2019   Kolkata  ...    12  2019        3
4             IndiGo      01/03/2019  Banglore  ...     1  2019        3
5           SpiceJet      24/06/2019   Kolkata  ...     6  2019        0
6        Jet Airways      12/03/2019  Banglore  ...    12  2019        1
7        Jet Airways      01/03/2019  Banglore  ...     1  2019        3
8        Jet Airways      12/03/2019  Banglore  ...    12  2019        1
9  Multiple carriers      27/05/2019     Delhi  ...     5  2019        0

[10 rows x 15 columns]

In [9]:
df=df.drop(["Date_of_Journey"],axis=1)

Departure Time

In [10]:
df["Dep_hour"]=pd.to_datetime(df.Dep_Time).dt.hour 
df["Dep_min"]=pd.to_datetime(df.Dep_Time).dt.minute 
df=df.drop(["Dep_Time"],axis=1)
df.head()

       Airline    Source Destination  ... Week_day Dep_hour Dep_min
0       IndiGo  Banglore   New Delhi  ...        6       22      20
1    Air India   Kolkata    Banglore  ...        5        5      50
2  Jet Airways     Delhi      Cochin  ...        4        9      25
3       IndiGo   Kolkata    Banglore  ...        3       18       5
4       IndiGo  Banglore   New Delhi  ...        3       16      50

[5 rows x 15 columns]

Arraival Time

In [11]:
df["Arrival_hour"]=pd.to_datetime(df.Arrival_Time).dt.hour 
df["Arrival_min"]=pd.to_datetime(df.Arrival_Time).dt.minute
df=df.drop(["Arrival_Time"],axis=1)
df.head()

       Airline    Source Destination  ... Dep_min Arrival_hour Arrival_min
0       IndiGo  Banglore   New Delhi  ...      20            1          10
1    Air India   Kolkata    Banglore  ...      50           13          15
2  Jet Airways     Delhi      Cochin  ...      25            4          25
3       IndiGo   Kolkata    Banglore  ...       5           23          30
4       IndiGo  Banglore   New Delhi  ...      50           21          35

[5 rows x 16 columns]

Duration of travel of fligth

In [12]:
duration = list(df["Duration"])

for i in range(len(duration)):
    if len(duration[i].split()) != 2:    
        if "h" in duration[i]:
            duration[i] = duration[i].strip() + " 0m"  
        else:
            duration[i] = "0h " + duration[i]           

duration_hours = []
duration_mins = []
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split(sep = "h")[0]))    
    duration_mins.append(int(duration[i].split(sep = "m")[0].split()[-1]))

In [13]:
df["Duration_hours"] = duration_hours
df["Duration_mins"] = duration_mins
df=df.drop(["Duration"],axis=1)
df.head()

       Airline    Source  ... Duration_hours Duration_mins
0       IndiGo  Banglore  ...              2            50
1    Air India   Kolkata  ...              7            25
2  Jet Airways     Delhi  ...             19             0
3       IndiGo   Kolkata  ...              5            25
4       IndiGo  Banglore  ...              4            45

[5 rows x 17 columns]